# Virtual Environment 
.venv/
venv/

# Python Cache 
__pycache__/ 
*.pyc
*.pyo

# Environment variables (secrets)
#.env
# NOTE: Since this is a resume project, one only meant to be run from my or a recruiter's
# local machine, there is no need to exclude the environment variables, they aren't secretive! 

# IDE files (VS CODE)
.vscode/

# OS files (Windows / Mac)
.DS_Store
Thumbs.db

# Personal Notes 
notes.txt